<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />		
    <meta name="description" content="Wade Derby is a full stack web developer and designer"/>
    <meta name="keywords" content="web dev, frontend, website development"/>
    <meta name="robots" content="index,follow"/>

    <meta property="og:title" content="Wade Derby | Web Developer" />
    <meta property="og:type" content="website" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta property="og:url" content="http://wadederby.com" />
    <meta property="og:image" content="http://wadederby.com/images/avaatar.png"/>
    <meta property="og:site_name" content="Wade Derby">
    <meta property="og:description" content="Wade Derby is a full stack web developer and designer" />															
    
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicon//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
<title>{{site.title}}</title>
    
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} 
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
    
</head>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135010947-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135010947-1');
</script>

    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    
    <div class="container pr-0">    
    
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarMediumish">
       
        <!-- Begin Menu -->
        
            <ul class="navbar-nav ml-auto">
                
                {% if page.url == "/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
                </li>
                
                {% if page.url == "/frontend.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <!-- <a class="nav-link" href="{{ site.baseurl }}/frontend">Front-End</a> -->
                <a class="nav-link" href="#">Front-End</a>
                </li>
                
                {% if page.url == "/dotnet.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <!-- <a class="nav-link" href="{{ site.baseurl }}/dotnet">.NET Core</a> -->
                <a class="nav-link" href="#">.NET Core</a>
                </li>
                
                {% if page.url == "/laravel.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <!-- <a class="nav-link" href="{{ site.baseurl }}/laravel">Laravel</a> -->
                <a class="nav-link" href="#">Laravel</a>
                </li>
                
                {% if page.url == "/ml.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <!-- <a class="nav-link" href="{{ site.baseurl }}/ml">Machine Learning</a> -->
                <a class="nav-link" href="#">Machine Learning</a>
                </li>                
            </ul>		
  
        <!-- End Menu -->

    </div>
        
    </div>
</nav>
<!-- End Navigation
================================================== -->
    
<div class="site-content">   
<div class="container">
    
    
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div>

<!-- Bottom Alert Bar
================================================== -->
<!-- <div class="alertbar">
	<div class="container text-center">
		<span><img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
            <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
	</div> -->
</div>    
    
</div><!-- /.container>
    
<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">
	<div class="d-flex h-100">
		<div class="col-md-4 align-self-center text-center h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
			 <h2 class="d-md-block d-none align-self-center">Explore →</h2>
            </div>
		</div>
		<div class="col-md-8 align-self-center text-center">
          {% assign tags_list = site.categories %}  
          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag }}">{{ tag | capitalize }} {{ site.tags[tag].size }}</a>
            {% endfor %}
          {% else %}
            {% for tag in tags_list %} 
              <a href="{{ site.baseurl }}/category/{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1].size }})</a>
            {% endfor %}
          {% endif %}
        {% assign tags_list = nil %}

		</div>
	</div>
</div>
 


<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} Wade Derby 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_blank"  class="social-btn" href="https://twitter.com/wadederby"><i class="fab fa-twitter"></i></a>
                <a target="_blank"  class="social-btn" href="https://github.com/wadederby"><i class="fab fa-github"></i></a>
                <a target="_blank"  class="social-btn" href="https://linkedin.com/in/wadederby"><i class="fab fa-linkedin"></i></a>
                <a target="_blank"  class="social-btn" href="https://wadederby.com"><i class="fa fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

   
</div> <!-- /.site-content>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
    
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
</body>
</html>
